## Web Scraping
**Web scraping is extracting data from website.**\
While doing web scraping, we download a web page and extract the information from their.\
The process of extraction involves following activities:
1. The content of a page may be parsed, searched, reformatted.
2. Its data can be copied into a spreadsheet or loaded into a database.
3. Web scrapers typically take specific information out of web page, to make use of it for a defined purpose.
4. For an example- find and copy names and telephone numbers, or companies and their URLs, or e-mail addresses to a list for a product promotion.

In [697]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\gupta\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\gupta\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [698]:
pip install requests

Requirement already satisfied: requests in c:\users\gupta\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\gupta\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gupta\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gupta\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\gupta\anaconda3\lib\site-packages (from requests) (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [886]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import json
import pandas as pd
import numpy as np
import time
import sys

### open the url. Url for searching top 50 films of all times.

In [774]:
movie = urlopen('https://www.imdb.com/list/ls053181721/')

### parsing the url through BeautifulSoup.

In [775]:
soup = BeautifulSoup(movie.read(), 'html.parser')

In [1]:
# soup item contains all the html codes of url: https://www.imdb.com/list/ls053181721/.

# soup

In [2]:
# soup.findAll('div', {'class': "article listo"})

In [3]:
# soup.findAll('div', {'class': 'lister-item-content'})

In [762]:
pd.DataFrame(soup.findAll('h1'))

                                0
0  Top 50 Best Movies of All Time

In [4]:
# soup.findAll('h3', {'class': 'lister-item-header'})

In [5]:
# soup.findAll('div', {'class': 'lister list detail sub-list'})

In [6]:
# soup.findAll('p', {'class': 'text-muted text-small'})

In [706]:
# The above output can be found using "control + shift + i" on the webpage.

# press "control + shift + i" on webpage: "https://www.imdb.com/list/ls053181721/" to get html codes.

In [707]:
# press "control + shift + c" to get important contants and thier respective tags in html file.
# or go on web page, right click the cursor on web information of which you want html coding.

In [708]:
# <h1 class="header list-name">Top 50 Best Movies of All Time</h1>

pd.DataFrame(soup.findAll('h1', {'class': 'header list-name'}), columns= ['Header'])

                           Header
0  Top 50 Best Movies of All Time

In [709]:
# read h3.

In [792]:
movie_name= []

for i in soup.findAll('div', {'class': "lister-item-content"}):
    for h in i.findAll('h3'):
        for a in h.findAll('a'):
            movie_name.append(a.text)
title = pd.DataFrame(movie_name, columns=['movie_name'])
title

                         movie_name
0                      Forrest Gump
1          The Shawshank Redemption
2   The Perks of Being a Wallflower
3                   The Dark Knight
4                        Changeling
5                   This Boy's Life
6             It's a Wonderful Life
7          The Silence of the Lambs
8                            8 Mile
9                The Breakfast Club
10                 Django Unchained
11          Silver Linings Playbook
12                      The Shining
13                            Se7en
14                  American Beauty
15                     Pulp Fiction
16                 Zero Dark Thirty
17                             Argo
18                  The Hurt Locker
19                    The Godfather
20                         The Town
21                     The Departed
22                           Scream
23                    Up in the Air
24      What's Eating Gilbert Grape
25              Lost in Translation
26                    The Conjuring
27                             Juno
28                      Stand by Me
29                   The Green Mile
30                          Super 8
31                          Jarhead
32                           Misery
33                       Fight Club
34                   Shutter Island
35                          Lawless
36                    Winter's Bone
37                      Taxi Driver
38              Saving Private Ryan
39                       Black Swan
40                        Inception
41                    Boogie Nights
42                            50/50
43                         Brothers
44                    Blood Diamond
45                   A Few Good Men
46                        Gladiator
47              Law Abiding Citizen
48                 Lakeview Terrace
49                       Glory Road

In [796]:
title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_name  50 non-null     object
dtypes: object(1)
memory usage: 528.0+ bytes

In [793]:
movie_link= []

for l1 in soup.findAll('div', {'class': "lister-item-content"}):
    for l2 in l1.findAll('h3'):
        for l3 in l2.findAll('a'):
            movie_link.append(('http://www.imdb.com'+l3['href']))
weblink = pd.DataFrame(movie_link, columns=['movie_link'])
weblink

                              movie_link
0   http://www.imdb.com/title/tt0109830/
1   http://www.imdb.com/title/tt0111161/
2   http://www.imdb.com/title/tt1659337/
3   http://www.imdb.com/title/tt0468569/
4   http://www.imdb.com/title/tt0824747/
5   http://www.imdb.com/title/tt0108330/
6   http://www.imdb.com/title/tt0038650/
7   http://www.imdb.com/title/tt0102926/
8   http://www.imdb.com/title/tt0298203/
9   http://www.imdb.com/title/tt0088847/
10  http://www.imdb.com/title/tt1853728/
11  http://www.imdb.com/title/tt1045658/
12  http://www.imdb.com/title/tt0081505/
13  http://www.imdb.com/title/tt0114369/
14  http://www.imdb.com/title/tt0169547/
15  http://www.imdb.com/title/tt0110912/
16  http://www.imdb.com/title/tt1790885/
17  http://www.imdb.com/title/tt1024648/
18  http://www.imdb.com/title/tt0887912/
19  http://www.imdb.com/title/tt0068646/
20  http://www.imdb.com/title/tt0840361/
21  http://www.imdb.com/title/tt0407887/
22  http://www.imdb.com/title/tt0117571/
23  http://www.imdb.com/title/tt1193138/
24  http://www.imdb.com/title/tt0108550/
25  http://www.imdb.com/title/tt0335266/
26  http://www.imdb.com/title/tt1457767/
27  http://www.imdb.com/title/tt0467406/
28  http://www.imdb.com/title/tt0092005/
29  http://www.imdb.com/title/tt0120689/
30  http://www.imdb.com/title/tt1650062/
31  http://www.imdb.com/title/tt0418763/
32  http://www.imdb.com/title/tt0100157/
33  http://www.imdb.com/title/tt0137523/
34  http://www.imdb.com/title/tt1130884/
35  http://www.imdb.com/title/tt1212450/
36  http://www.imdb.com/title/tt1399683/
37  http://www.imdb.com/title/tt0075314/
38  http://www.imdb.com/title/tt0120815/
39  http://www.imdb.com/title/tt0947798/
40  http://www.imdb.com/title/tt1375666/
41  http://www.imdb.com/title/tt0118749/
42  http://www.imdb.com/title/tt1306980/
43  http://www.imdb.com/title/tt0765010/
44  http://www.imdb.com/title/tt0450259/
45  http://www.imdb.com/title/tt0104257/
46  http://www.imdb.com/title/tt0172495/
47  http://www.imdb.com/title/tt1197624/
48  http://www.imdb.com/title/tt0947802/
49  http://www.imdb.com/title/tt0385726/

In [795]:
weblink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_link  50 non-null     object
dtypes: object(1)
memory usage: 528.0+ bytes

In [822]:
type = pd.DataFrame(soup.findAll('span', {'class': 'genre'}), columns=['type'])
type.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
type,"\nDrama, Romance",\nDrama,"\nDrama, Romance","\nAction, Crime, Drama","\nBiography, Crime, Drama","\nBiography, Drama","\nDrama, Family, Fantasy","\nCrime, Drama, Thriller","\nDrama, Music","\nComedy, Drama",...,"\nAction, Adventure, Sci-Fi",\nDrama,"\nComedy, Drama, Romance","\nDrama, Thriller, War","\nAdventure, Drama, Thriller","\nDrama, Thriller","\nAction, Adventure, Drama","\nAction, Crime, Drama","\nCrime, Drama, Thriller","\nBiography, Drama, Sport"

In [820]:
year = pd.DataFrame(soup.findAll('span', {'class': 'lister-item-year text-muted unbold'}), columns=['release_year'])
year.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
release_year,(1994),(1994),(2012),(2008),(2008),(1993),(1946),(1991),(2002),(1985),...,(2010),(1997),(2011),(I) (2009),(2006),(1992),(2000),(2009),(2008),(2006)

In [824]:
metascore = pd.DataFrame(soup.findAll('span', {'class': 'metascore'}), columns=['score'])
metascore.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
score,82,81,67,84,63,60,89,85,77,66,...,74,85,72,58,64,62,67,34,47,58

In [826]:
rating = pd.DataFrame(soup.findAll('div', {'class': "inline-block ratings-metascore"}), columns=[0,'rating',2]).loc[:, ['rating']]
rating.T

C:\Users\gupta\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
rating,[82 ],[81 ],[67 ],[84 ],[63 ],[60 ],[89 ],[85 ],[77 ],[66 ],...,[74 ],[85 ],[72 ],[58 ],[64 ],[62 ],[67 ],[34 ],[47 ],[58 ]

In [828]:
length = pd.DataFrame(soup.findAll('span', {'class': 'runtime'}), columns= ['length'])
length.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
length,142 min,142 min,103 min,152 min,141 min,115 min,130 min,118 min,110 min,97 min,...,148 min,155 min,100 min,105 min,143 min,138 min,155 min,109 min,110 min,118 min

In [830]:
certificate = pd.DataFrame(soup.findAll('span', {'class': 'certificate'}), columns= ['certificate'])
certificate.T

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
certificate,UA,A,UA,UA,A,U,PG,A,UA,UA,...,A,UA,18,18,UA,A,U,UA,A,U

In [879]:
dataset = title.join(weblink).join(year).join(type).join(metascore).join(rating).join(length).join(certificate)
dataset

,movie_name,movie_link,release_year,type,score,rating,length,certificate
0,Forrest Gump,http://www.imdb.com/title/tt0109830/,(1994),"\nDrama, Romance",82,[82 ],142 min,UA
1,The Shawshank Redemption,http://www.imdb.com/title/tt0111161/,(1994),\nDrama,81,[81 ],142 min,A
2,The Perks of Being a Wallflower,http://www.imdb.com/title/tt1659337/,(2012),"\nDrama, Romance",67,[67 ],103 min,UA
3,The Dark Knight,http://www.imdb.com/title/tt0468569/,(2008),"\nAction, Crime, Drama",84,[84 ],152 min,UA
4,Changeling,http://www.imdb.com/title/tt0824747/,(2008),"\nBiography, Crime, Drama",63,[63 ],141 min,A
5,This Boy's Life,http://www.imdb.com/title/tt0108330/,(1993),"\nBiography, Drama",60,[60 ],115 min,U
6,It's a Wonderful Life,http://www.imdb.com/title/tt0038650/,(1946),"\nDrama, Family, Fantasy",89,[89 ],130 min,PG
7,The Silence of the Lambs,http://www.imdb.com/title/tt0102926/,(1991),"\nCrime, Drama, Thriller",85,[85 ],118 min,A
8,8 Mile,http://www.imdb.com/title/tt0298203/,(2002),"\nDrama, Music",77,[77 ],110 min,UA
9,The Breakfast Club,http://www.imdb.com/title/tt0088847/,(1985),"\nComedy, Drama",66,[66 ],97 min,UA
10,Django Unchained,http://www.imdb.com/title/tt1853728/,(2012),"\nDrama, Western",81,[81 ],165 min,A
11,Silver Linings Playbook,http://www.imdb.com/title/tt1045658/,(2012),"\nComedy, Drama, Romance",81,[81 ],122 min,A
12,The Shining,http://www.imdb.com/title/tt0081505/,(1980),"\nDrama, Horror",66,[66 ],146 min,A
13,Se7en,http://www.imdb.com/title/tt0114369/,(1995),"\nCrime, Drama, Mystery",65,[65 ],127 min,A
14,American Beauty,http://www.imdb.com/title/tt0169547/,(1999),\nDrama,84,[84 ],122 min,UA
15,Pulp Fiction,http://www.imdb.com/title/tt0110912/,(1994),"\nCrime, Drama",94,[94 ],154 min,A
16,Zero Dark Thirty,http://www.imdb.com/title/tt1790885/,(2012),"\nDrama, History, Thriller",95,[95 ],157 min,A
17,Argo,http://www.imdb.com/title/tt1024648/,(2012),"\nBiography, Drama, Thriller",86,[86 ],120 min,A
18,The Hurt Locker,http://www.imdb.com/title/tt0887912/,(2008),"\nDrama, Thriller, War",95,[95 ],131 min,A
19,The Godfather,http://www.imdb.com/title/tt0068646/,(1972),"\nCrime, Drama",100,[100 ],175 min,A
20,The Town,http://www.imdb.com/title/tt0840361/,(2010),"\nCrime, Drama, Thriller",74,[74 ],125 min,A
21,The Departed,http://www.imdb.com/title/tt0407887/,(2006),"\nCrime, Drama, Thriller",85,[85 ],151 min,A
22,Scream,http://www.imdb.com/title/tt0117571/,(1996),"\nHorror, Mystery",65,[65 ],111 min,A
23,Up in the Air,http://www.imdb.com/title/tt1193138/,(I) (2009),"\nComedy, Drama, Romance",83,[83 ],109 min,R
24,What's Eating Gilbert Grape,http://www.imdb.com/title/tt0108550/,(1993),\nDrama,73,[73 ],118 min,U
25,Lost in Translation,http://www.imdb.com/title/tt0335266/,(2003),"\nComedy, Drama",89,[89 ],102 min,UA
26,The Conjuring,http://www.imdb.com/title/tt1457767/,(2013),"\nHorror, Mystery, Thriller",68,[68 ],112 min,A
27,Juno,http://www.imdb.com/title/tt0467406/,(2007),"\nComedy, Drama",81,[81 ],96 min,16
28,Stand by Me,http://www.imdb.com/title/tt0092005/,(1986),"\nAdventure, Drama",75,[75 ],89 min,U
29,The Green Mile,http://www.imdb.com/title/tt0120689/,(1999),"\nCrime, Drama, Fantasy",61,[61 ],189 min,UA
30,Super 8,http://www.imdb.com/title/tt1650062/,(2011),"\nAction, Mystery, Sci-Fi",72,[72 ],112 min,UA
31,Jarhead,http://www.imdb.com/title/tt0418763/,(2005),"\nBiography, Drama, War",58,[58 ],125 min,R
32,Misery,http://www.imdb.com/title/tt0100157/,(1990),"\nDrama, Thriller",75,[75 ],107 min,A
33,Fight Club,http://www.imdb.com/title/tt0137523/,(1999),\nDrama,66,[66 ],139 min,A
34,Shutter Island,http://www.imdb.com/title/tt1130884/,(2010),"\nMystery, Thriller",63,[63 ],138 min,A
35,Lawless,http://www.imdb.com/title/tt1212450/,(2012),"\nBiography, Crime, Drama",58,[58 ],116 min,R
36,Winter's Bone,http://www.imdb.com/title/tt1399683/,(2010),"\nDrama, Mystery",90,[90 ],100 min,R
37,Taxi Driver,http://www.imdb.com/title/tt0075314/,(1976),"\nCrime, Drama",94,[94 ],114 min,A
38,Saving Private Ryan,http://www.imdb.com/title/tt0120815/,(1998),"\nDrama, War",91,[91 ],169 min,A
39,Black Swan,http://www.imdb.com/title/tt0947798/,(2010),"\nDrama, Thriller",79,[79 ],108 min,A
40,Inception,http://www.imdb.com/title/tt1375666/,(2010),"\nAction, Adventure, Sci-Fi",74,[74 ],148 min,UA
41,Boogie Nights,http://www.imdb.com/title/tt0118749/,(1997),\nDrama,85,[85 ],155 min,18
42,50/50,http://www.imdb.com/title/tt1306980/,(2011),"\nComedy, Drama, Romance",72,[72 ],100 min,18
43,Brothers,http://www.imdb.com/title/tt0765010/,(I) (2009),"\nDrama, Thriller, War",58,[58 ],105 min,UA
44,Blood Diamond,http://www.imdb.com/title/tt0450259/,(2006),"\nAdventure, Drama, Thriller",64,[64 ],143 min,A
45,A Few Good Men,http://www.imdb.com/title/tt0104257/,(1992),"\nDrama, Thriller",62,[62 ],138 min,U
46,Gladiator,http://www.imdb.com/title/tt0172495/,(2000),"\nAction, Adventure, Drama",67,[67 ],155 min,UA
47,Law Abiding Citizen,http://www.imdb.com/title/tt1197624/,(2009),"\nAction, Crime, Drama",34,[34 ],109 min,A
48,Lakeview Terrace,http://www.imdb.com/title/tt0947802/,(2008),"\nCrime, Drama, Thriller",47,[47 ],110 min,U
49,Glory Road,http://www.imdb.com/title/tt0385726/,(2006),"\nBiography, Drama, Sport",58,[58 ],118 min,NaN

**We can import this dataset in csv or excel format.**